@model dynamic

@{
    Layout = null;
}

<div class="3u">
    <section>
        <h2>@Strings.WeInSocialNetworks</h2>
        <ul class="style5">
            <li>
                <p>
                    <a target="_blank" href="@ViewBag.FacebookLink">
                        <img src="~/Content/images/fb.png" alt="facebook" />
                    </a>
                </p>
            </li>
            <li>
                <a target="_blank" href="@ViewBag.VkontakteLink">
                    <img src="~/Content/images/vk.png" alt=" vkontakte" />
                </a>
            </li>
            <li>
                <a target="_blank" href="@ViewBag.InstagramLink">
                    <img src="~/Content/images/instagram.png" alt="instagram" />
                </a>
            </li>
        </ul>

        <h2 style="padding-bottom: 10px">@Strings.Mailing</h2>
        <form action="http://momentshoney.justclick.ru/subscribe/process/?rid[0]=all&doneurl=http%3A%2F%2Fohm.by&doneurl2=http%3A%2F%2Fohm.by"
              method="post"
              id="form-mailing-subscribe">
            <input name="lead_name"
                   type="text"
                   class="field-editor-short"
                   onblur=' if (this.value == "") this.value = "Введите ваше имя" '
                   onfocus=' if (this.value == "Введите ваше имя") this.value = "" '
                   value="Введите ваше имя" />

            <input name="lead_email"
                   type="text"
                   class="field-editor-short"
                   onblur=' if (this.value == "") this.value = "Введите ваш e-mail" '
                   onfocus=' if (this.value == "Введите ваш e-mail") this.value = "" '
                   value="Введите ваш e-mail" />
            <a class="button" onclick=" document.getElementById('form-mailing-subscribe').submit() ">@Strings.Subscribe</a>
            </form>

        </section>
    </div>
