@using HappyStation.Common.HtmlHelpers

<div id="header">
    <div class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="@Url.Action("Index", "Home")">@Strings.Logo</a>
            </h1>
            <p class="logo-subtitle ">@Strings.SubLogo</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                @Html.MenuLink(Strings.News, "List", "News")
                @Html.MenuLink(Strings.Services, "List", "Services")
                @Html.MenuLink(Strings.Actions, "Actions", "News")
                @Html.MenuLink(Strings.Gallery, "List", "Gallery")
                @Html.MenuLink(Strings.Price, "Price", "Home")

                @if (Request.IsAuthenticated)
                {
                    @Html.MenuLink(Strings.AdminPanel, "Admin", "Home")
                }

            </ul>
        </nav>
    </div>
</div>

<div id="banner">
    <div class="container">
    </div>
</div>