<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="@(string.IsNullOrEmpty(ViewBag.PageDescription) ? Strings.SiteDescription: ViewBag.PageDescription)" />
    <meta name="keywords" content="@Strings.SiteKeywords" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "fe25a8bc-5ca2-4fb3-8a71-3f081b4a7f0e"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

    <!--[if lte IE 8]><script src="/Scripts/site/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/Content/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/Content/ie/v9.css" /><![endif]-->
    @Styles.Render("~/bundles/site")
    @Scripts.Render("~/bundles/jquery")
    <noscript>

        @*<link rel="stylesheet" href="/Content/skel-noscript.css" />
            <link rel="stylesheet" href="/Content/style.css" />
            <link rel="stylesheet" href="/Content/style-desktop.css" />*@
    </noscript>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <meta property="og:title" content="@ViewBag.ShareTitle" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="@Strings.Logo" />
    <meta property="og:description" content="@ViewBag.ShareDescription" />
    <meta property="og:image" content="@(Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/content/favicon.ico"))" />
    <meta property="og:url" content="@Request.Url" />
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54ad57955217e560" async="async"></script>

</head>
<body>

    @Html.Partial("_Header")

    <div id="page">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/fancybox")
    @Scripts.Render("~/bundles/init")

    @RenderSection("scripts", required: false)

    <script type='text/javascript'>
        (function () {
            var done = false;
            var script = document.createElement('script');
            script.async = true;
            script.type = 'text/javascript';
            script.src = 'https://widget.purechat.com/VisitorWidget/WidgetScript';
            document.getElementsByTagName('HEAD').item(0).appendChild(script);
            script.onreadystatechange = script.onload = function (e) {
                if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
                    var w = new PCWidget({
                        c: 'bffbee22-118c-4b95-bac7-f5255b5372a5',
                        f: true
                    });
                    done = true;
                }
            };
        })();</script>

</body>
</html>
