<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>

    <!--[if lte IE 8]><script src="/Scripts/site/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/Content/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/Content/ie/v9.css" /><![endif]-->
    @Styles.Render("~/bundles/site")
    @Scripts.Render("~/bundles/jquery")
    <noscript>

        @*<link rel="stylesheet" href="/Content/skel-noscript.css" />
            <link rel="stylesheet" href="/Content/style.css" />
            <link rel="stylesheet" href="/Content/style-desktop.css" />*@
    </noscript>

</head>
<body>

    @Html.Partial("_Header")

    <div id="page">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/fancybox")
    @Scripts.Render("~/bundles/init")

    @RenderSection("scripts", required: false)

    <script type='text/javascript'>
        (function () {
            var done = false;
            var script = document.createElement('script');
            script.async = true;
            script.type = 'text/javascript';
            script.src = 'https://widget.purechat.com/VisitorWidget/WidgetScript';
            document.getElementsByTagName('HEAD').item(0).appendChild(script);
            script.onreadystatechange = script.onload = function (e) {
                if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
                    var w = new PCWidget({
                        c: 'bffbee22-118c-4b95-bac7-f5255b5372a5',
                        f: true
                    });
                    done = true;
                }
            };
        })();</script>

</body>
</html>
