@model IEnumerable<NewsViewModel>

@{
    ViewBag.Title = Strings.Actions;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container">
    <div class="row">

        @Html.Action("PreviewList", "Services")

        <div class="9u skel-cell-important">
            <section>
                <header>
                    <h2>
                        @ViewBag.Title
                    </h2>
                </header>
            </section>
            <div id="marketing" class="row container-secondary">
                <ul class="horizontal-list">
                    @foreach (NewsViewModel news in Model)
                    {
                        <li class="3u">
                            <section>
                                <header>
                                    <h2>@news.Title</h2>
                                </header>
                                <p class="subtitle">@Html.Raw(news.Description)</p>
                                <p>
                                    <a href="@Url.Action("News", new { id = news.Url })">
                                        <div class="service-main">
                                            <img src="@news.Image" alt="@news.Title" />
                                        </div>
                                    </a>
                                </p>
                                <a href="@Url.Action("News", new { id = news.Url })" class="button">@Strings.More</a>
                            </section>
                        </li>
                    }
                </ul>
            </div>

            @if (ViewBag.HasPrevPage)
            {
                @Html.ActionLink(Strings.Previos, "List", "News", new { @pageNum = ViewBag.PreviosPage }, new { @class = "button" })
            }

            @if (ViewBag.HasNextPage)
            {
                @Html.ActionLink(Strings.Next, "List", "News", new { @pageNum = ViewBag.NextPage }, new { @class = "button" })
            }

        </div>
    </div>
</div>
