@model NewsViewModel

@{
    ViewBag.Title = Model.Id > 0 ? @Strings.EditNews : @Strings.CreateNews;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main" class="container">
    <div class="9ut">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Save", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.Id)

            <fieldset>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.Title, new { @class = "field-description" })
                        @Html.TextBoxFor(m => m.Title, new { @class = "field-editor" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Alias, new { @class = "field-description" })
                        @Html.TextBoxFor(m => m.Alias, new { @class = "field-editor" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Description, new { @class = "field-description" })
                        @Html.TextBoxFor(m => m.Description, new { @class = "field-editor" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Text, new { @class = "field-description" })
                        @Html.EditorFor(m => m.Text)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Type, new { @class = "field-description" })
                        @Html.EnumDropDownListFor(model => model.Type)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Image)
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <div class="service-main">
                                <img src="@Model.Image" class="photo-album" alt="@Model.Image" />
                            </div>
                        }

                        <input type="file" name="image" />

                    </li>
                </ol>
                <input type="submit" value="@Strings.Save" />
            </fieldset>
        }
    </div>
</div>
