@model IEnumerable<NewsViewModel>
@{
    Layout = null;
}
<div class="3u">
    <section class="sidebar">
        <header>
            <h2>
                @Strings.LastNews
            </h2>
        </header>
        <ul class="style2">
            @foreach (var news in Model)
            {
                <li>
                    <a href="@Url.Action("News", "News", new { @id = news.Id })">
                        <img src="@news.Image" alt="@news.Title">
                    </a>
                    <p>@news.Title</p>
                </li>
            }
        </ul>
    </section>
</div>