@model PhotoAlbumViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container">
    <div class="row">

       @Html.Action("PreviewList", "Services")

        <div class="9u skel-cell-important">
            <section>
                <header>
                    <h2>
                        @ViewBag.Title
                    </h2>
                </header>
            </section>

            <div id="marketing" class="row container-secondary">
                <ul class="horizontal-list">
                    @foreach (var photo in Model.Photos)
                    {
                        <li class="3u">
                            <section>
                                <a rel="gallery" href="@photo.Path" class="fancybox">
                                    <div class="service-main bw">
                                        <img class="photo-album" src="@photo.Path" alt="@photo.Title" />
                                    </div>
                                </a>
                            </section>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
