@model PhotoAlbumViewModel

@{
    ViewBag.Title = Strings.AlbumEdit;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main" class="container">
    <div class="9ut">

        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Save", "Gallery", FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.Id)

            <fieldset>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.Title)
                        @Html.EditorFor(m => m.Title)
                    </li>
                    <li>
                        <ul class="horizontal-list">
                            @foreach (var photo in Model.Photos)
                            {
                                <li>
                                    <div class="service-main">
                                        <img class="photo-album" src="@photo.Path" alt="@photo.Title" />
                                        @Html.ActionLink(Strings.Delete, "DeletePhoto", "Gallery", new { @id = photo.Id }, null)
                                    </div>
                                </li>
                            }
                        </ul>

                        <input type="file" name="newPhotos" multiple accept="image/*" />
                    </li>
                </ol>
                <input type="submit" value="@Strings.Save" />
            </fieldset>

        }
    </div>
</div>