@model ServiceViewModel
@{
    ViewBag.Title = Model.Id > 0 ? @Strings.EditService : @Strings.CreateService;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="main" class="container">
    <div class="9ut">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Save", "Services", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.Id)

            <fieldset>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.Title, new { @class = "field-description" })
                        @Html.TextBoxFor(m => m.Title, new { @class = "field-editor" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Alias, new { @class = "field-description" })
                        @Html.TextBoxFor(m => m.Alias, new { @class = "field-editor" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ShortDescription, new { @class = "field-description" })
                        @Html.TextBoxFor(m => m.ShortDescription, new { @class = "field-editor" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Description, new { @class = "field-description" })
                        @Html.EditorFor(m => m.Description)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.IsHot, new { @class = "field-description" })
                        @Html.EditorFor(m => m.IsHot)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Order, new { @class = "field-description" })
                        @Html.EditorFor(m => m.Order)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Keywords, new { @class = "field-description" })
                        @Html.TextBoxFor(m => m.Keywords, new { @class = "field-editor" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Image, new { @class = "field-description" })
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <div class="service-main">
                                <img src="@Model.Image" class="photo-album" alt="@Model.Image" />
                            </div>
                        }

                        <input type="file" name="image" />

                    </li>
                    <li>
                        @Html.LabelFor(m => m.Price, new { @class = "field-description" })
                        @Html.EditorFor(m => m.Price)
                    </li>
                </ol>
                <input type="submit" value="@Strings.Save" />
            </fieldset>
        }
    </div>
</div>
