@model IEnumerable<ServiceViewModel>
@{
    ViewBag.Title = Strings.Services;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container">
    <div class="row">

        @Html.Action("PreviewList", "News")

        <div class="9u skel-cell-important">
            <section>
                <header>
                    <h2>
                        @ViewBag.Title
                    </h2>
                </header>
            </section>
            <div id="marketing" class="row container-secondary">
                <ul class="horizontal-list">
                    @foreach (ServiceViewModel service in Model)
                    {
                        <li class="3u">
                            <section>
                                <header>
                                    <h2>@service.Title</h2>
                                </header>
                                <p class="subtitle">@service.ShortDescription</p>
                                <p>
                                    <a href="@Url.Action("Service", new { id = service.Url })">
                                        <div class="service-main">
                                            <img src="@service.Image" alt="@service.Title" />
                                        </div>
                                    </a>
                                </p>
                                <a href="@Url.Action("Service", new { id = service.Url })" class="button">@Strings.More</a>
                            </section>
                        </li>
                    }
                </ul>
            </div>

            @if (ViewBag.HasPrevPage)
            {
                @Html.ActionLink(Strings.Previos, "List", "Services", new { @pageNum = ViewBag.PreviosPage }, new { @class = "button" })
            }

            @if (ViewBag.HasNextPage)
            {
                @Html.ActionLink(Strings.Next, "List", "Services", new { @pageNum = ViewBag.NextPage }, new { @class = "button" })
            }

        </div>
    </div>
</div>